
@{
    ViewData["Title"] = "StudentUpdate";
}
<style>
    .hide {
        display: none;
    }
</style>
@*<h4>Student Update</h4>*@
<div>
    <div class="row">
        <div class="col col-12 col-md-5">
            <p class="text-center"><b><u>Origin Section</u></b></p>
            <div class="row mb-3">
                <div class="col-9">
                    <div class="form-group">
                        <label class="control-label fw-bold mb-2">Please Enter a StudentID</label>
                        <input id="searchStudent" class="form-control" required />
                    </div>
                </div>
                <div class="col-3" style="padding-top: 30px;">
                    <button id="btnSearch" class="btn btn-danger button"><i class="loading-icon1 fa fa-spinner fa-spin hide"></i> <span class="btn-txt1">Search Student</span></button>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-1">

        </div>
        <div class="col col-12 col-md-6">
            <p class="text-center"><b><u>Destination Section</u></b></p>
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label class="control-label fw-bold mb-2">Select Programs</label>
                        @*<select required class="form-control" name="fjdsgh" id="fhgfjsd" asp-items="@(new SelectList(ViewBag.Programslst, "programID", "programName"))"></select>*@
                        <select required class="multi_select" id="destinProgram" asp-items="@(new SelectList(ViewBag.Programslst, "programID", "programName"))" multiple></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label fw-bold mb-2">Select Advisors</label>
                        <select required class="form-control-lg w-100" id="destinAdvisor" asp-items="@(new SelectList(ViewBag.Advisors, "AdvisorID", "Emailaddr"))"></select>
                    </div>
                </div>
                <div class="col-3" style="padding-top: 30px;">
                    <button class="btn btn-danger button1" id="stdsearchdestin"><i class="loading-icon1 fa fa-spinner fa-spin hide"></i> <span class="btn-txt1">Search Students</span> </button>
                </div>
            </div>
        </div>
    </div>
    <div class="detailcontainer">
        <div class="row">
            <div class="col col-7">
                <div id="stdlistorigin">
                </div>
            </div>
            <div class="col col-1">
                <div style="margin-top: 100px;text-align:center;"><button type="button" id="updateadvisor" class="btn btn-danger btn-arrow-right updtbtn" style="display:none;padding-left: 18px;">Transfer</button></div>
            </div>
            <div class="col col-4">
                <div id="stdlistdestination"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        VirtualSelect.init({
            ele: '.multi_select'
        });

        $(document).ready(function () {
            $("#btnSearch").click(function () {

                var studentid = $("#searchStudent").val();
                if (studentid == null || studentid == undefined) {
                    alert("Please Enter a valid STudentID");
                    return false;
                }

                $(".loading-icon").removeClass("hide");
                $(".button").attr("disabled", true);
                $(".btn-txt").text("Searching in DB");

                $("#stdlistorigin").load("@Url.Action("LatestStduentStatus", "Home")", { searchText: studentid },
                    function (res) {
                        if (res.trim() == "") {

                            $(".loading-icon").addClass("hide");
                            $(".button").attr("disabled", false);
                            $(".btn-txt").text("Search Students");
                        }
                        else {
                            mytable = $('#singlestdlistorigintb').DataTable({
                                scrollY: '600px',
                                scrollX: true,
                                scrollCollapse: true,
                                paging: false, 
                                'columnDefs': [
                                    {
                                        'targets': 0,
                                        'checkboxes': {
                                            'selectRow': true
                                        }
                                    }
                                ],
                                'select': {
                                    'style': 'multi'
                                },
                            });

                            $('#updateadvisor').show();
                            $(".loading-icon").addClass("hide");
                            $(".button").attr("disabled", false);
                            $(".btn-txt").text("Search Students");

                        }

                    });

            });


             $("#stdsearchdestin").click(function () {                

                 var term = $("#txtlastesterm").val();
                 if (term == null || term == undefined) {
                     alert("Please make sure that you search for the desired student before searching destination advisor.");
                     return false;
                 }

                 $(".loading-icon1").removeClass("hide");
                 $(".button").attr("disabled", true);
                 $(".btn-txt").text("Searching in DB");

                 var originprograms = $("#destinProgram").val();
                 if (originprograms.length > 0) {
                     originprograms = originprograms.join(",");
                 }
                 else {
                     originprograms = "0";
                 }
                var originadvisors = $("#destinAdvisor").val();

                 $("#stdlistdestination").load("@Url.Action("StudentDetails", "Home")", { searchTerm: term, searchAdvisors: originadvisors, requestType: "destin", searchPrograms: originprograms },
                     function (res) {
                         if (res.trim() == "") {
                             $(".loading-icon1").addClass("hide");
                             $(".button").attr("disabled", false);
                             $(".btn-txt").text("Search Students");
                         }
                         else {
                             $('#stdlistdestintb').DataTable({
                                 scrollY: '600px',
                                 scrollX: true,
                                 scrollCollapse: true,
                                 paging: false
                             });
                             $(".loading-icon1").addClass("hide");
                             $(".button").attr("disabled", false);
                             $(".btn-txt").text("Search Students");
                         }

                     });
             });

            $('#updateadvisor').click(function () {

            var rows_selected = mytable.column(0).checkboxes.selected();
            if (rows_selected.length == 0) {
                $.alert('Select a Student from the list!');
                return false;
            }
            var advisorto = $('#destinAdvisor').val();
            if (advisorto == 0) {
                $.alert('Select a destination Advisor.');
                return false;
            }
            if ($('#destinAdvisor').val() == "") {

            }
                $.confirm({
                    title: 'Confirm!',
                    content: '<b>Are you sure , you want to transfer the students?</b>',
                    buttons: {
                        confirm: function () {

                            var values = rows_selected.join(",");
                            if (rows_selected.length > 0) {
                                var Searchterm = $('#txtlastesterm').val();

                                $.post('@Url.Action("Updateadvisor", "Home")', { studIDarr: values, Searchterm: Searchterm, advisorto: advisorto },
                                    function (returnedData) {
                                        console.log(returnedData);
                                        if (returnedData.success) {
                                            $.confirm({
                                                title: 'Confirm!',
                                                content: 'Selected student had moved!',
                                                buttons: {
                                                    confirm: function () {
                                                        $("#btnSearch").click();
                                                        $("#stdsearchdestin").click();
                                                    }
                                                }
                                            });                                           
                                        }
                                    }).fail(function () {
                                        $.alert('Failed to update!');
                                    });

                            }
                            else {
                                $.alert('Please select the students to transfer !');
                            }
                        },
                        cancel: function () {
                           // $.alert('Canceled!');
                          //  return false;
                        },
                    }
                });
            });

        });
    </script>
}
